@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '../node_modules/inter-ui/Inter (web)'
);
@include default.all;

$colors: (
  "0": #e03131,
  "1": #9c36b5,
  "2": #3b5bdb,
  "3": #0c8599,
  "4": #2f9e44,
  "5": #e67700,
);

body {
  font-family: Inter;
}

.timeline {
  position: relative;
  --tl-100pc: calc(100% / (var(--tl-end) - var(--tl-start)));
  padding-top: 20px;
  .timeline-row {
    position: relative;
    height: 55px;
    margin: 10px 0;
  }
}
.timeline-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((var(--evt-start) - var(--tl-start)) * var(--tl-100pc));
  right: calc((var(--tl-end) - var(--evt-end)) * var(--tl-100pc));
  color: white;
  border-radius: 5px;

  background-color: #333;
  @each $name, $color in $colors {
    .color-#{$name} & {
      background-color: $color;
    }
  }
}
.timeline-label {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  width: max-content;
  &.position-left {
    left: auto;
    right: calc(100% + 8px);
    color: #333;
    text-align: right;
  }
  &.position-right {
    left: calc(100% + 8px);
    color: #333;
  }
}
.week-marker,
.now-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((var(--position) - var(--tl-start)) * var(--tl-100pc));
  border-left: 1px solid #ddd;
  color: #ddd;
  padding-left: 0.5ch;
}

.now-marker {
  border-left-color: red;
}
